table.board(ng-controller='BoardController as board')
	colgroup
		col
		col
		col
	colgroup
		col
		col
		col
	colgroup
		col
		col
		col

	- var row = 0;
	tbody
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile ng-bind='board[row][tile]')
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile)= row + '.' + tile
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile)= row + '.' + tile
	tbody
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile)= row + '.' + tile
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile)= row + '.' + tile
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile)= row + '.' + tile
	tbody
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile)= row + '.' + tile
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile)= row + '.' + tile
		tr.row(id='row-' + ++row)
			- var tile = 0
			while tile < 9
				td.tile(id='tile-' + row + '.' + ++tile)= row + '.' + tile